<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Research&Development</title>

  <link rel="stylesheet" href="../static/styles/dashboard/Front.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">
</head>

<body>

		<section class="home">
			<div class="home-content">
				<h1>Welcome to the Future </h1>

		    	<h1>of Garlic Production!</h1>

		    	<div class="divider"></div>

		    	<p>At Mariano Marcos State University, we are pioneers in the development of IoT-based and controlled environment nurseries tailored specifically for G1 garlic production. With a passion for innovation and sustainable agriculture, we have harnessed the power of modern technology to revolutionize the way garlic is grown.</p>

		    	<div class="btn-box">
		    		<a href="index"> Next </a>
		    	</div>
			</div>
		</section>

</body>
</html>
