body {
    font-family: Arial, sans-serif;
   text-align: center;
    margin: 20px;
}

#calendar-container {
margin-top: 20px;
position: relative;
}

#calendar-input {
width: 200px;
padding: 5px;
}

#calendar-dropdown {
width: 200px;
padding: 5px;
border: 1px solid #ccc;
position: absolute;
background-color: #fff;
display: none;
z-index: 1;
}

#calendar-dropdown button {
cursor: pointer;
background-color: #4CAF50;
color: white;
padding: 5px 10px;
border: none;
border-radius: 5px;
}