@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

.home {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: url('/../static/images/D9.webp') no-repeat;
  background-size: 9%;
  background-position: calc(23% + 0%) 16%;
  display: flex;
  align-items: center;
  padding: 8% 49% 0% 0%;
  overflow: hidden;
}

.home::after {
  content: '';
  position: absolute;
  top: -1%;
  left: 38%;
  width: 69%;
  height: 110%;
 background: url('/../static/images/D10.webp') no-repeat;
  background-size: 92%;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/../static/images/D6.webp') no-repeat;
  background-size: 18%;
}

.home-content {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.home-content h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  font-weight: 700;
  color: green;
  line-height: 1.2;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 26px;
  margin-bottom: 10px;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.btn-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: green;
  border: 2px solid green;
  border-radius: 8px;
  font-size: 19px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .5s;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.btn-box a:hover {
  color: green;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: white;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.divider {
  width: 100%;
  height: 3px;
  background-color: green;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 8%;
    padding: 0% 0% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 64.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}


@media (min-width: 769px) and (max-width: 783px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 8%;
    padding: 0% 0% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 64.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}

@media (min-width: 784px) and (max-width: 839px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 61%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp')no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}


@media (min-width: 840px) and (max-width: 852px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 4%;
    padding: 0% 0% 3% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 61%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}

@media (min-width: 853px) and (max-width: 886px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 4%;
    padding: 0% 0% 3% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 60.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}

@media (min-width: 887px) and (max-width: 898px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 4%;
    padding: 0% 0% 3% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 58.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp')no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}

@media (min-width: 899px) and (max-width: 919px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 4%;
    padding: 0% 0% 1% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 58%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}

@media (min-width: 920px) and (max-width: 947px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 5%;
    padding: 2% 0% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 57%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}


@media (min-width: 948px) and (max-width: 961px) {
  .home {
    background-size: 15%;
    background-position: calc(0% + 50%) 5%;
    padding: 2% 0% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 57%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 50px;
  }

  .home-content p {
    font-size: 27px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 962px) and (max-width: 988px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 55.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 989px) and (max-width: 995px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 54%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 996px) and (max-width: 1005px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 54%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1006px) and (max-width: 1021px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 54%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1022px) and (max-width: 1046px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 52.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1047px) and (max-width: 1065px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 51%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1066px) and (max-width: 1078px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1079px) and (max-width: 1094px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 4% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 49.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1095px) and (max-width: 1124px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 2% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 49.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1125px) and (max-width: 1140px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 6%;
    padding: 0% 0% 2% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 49%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1141px) and (max-width: 1160px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 4%;
    padding: 0% 0% 3% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 47.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1161px) and (max-width: 1180px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 5.5%;
    padding: 0% 0% 2% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 46.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}


@media (min-width: 1181px) and (max-width: 1199px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 50%) 4%;
    padding: 0% 0% 2% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: 45.5%;
    left: -4%;
    width: 110%;
    height: 110%;
   background: url('/../static/images/D11.webp') no-repeat;
    background-size: 97%;
  }

  .home::before {
    background-size: 0%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1200px) and (max-width: 1258px) {
    .home {
      background-size: 13%;
      background-position: calc(0% + 29%) 13%;
      padding: 8% 35% 0% 0%
    }
  
    .home::after {
      content: '';
      position: absolute;
      top: -1%;
      left: 40%;
      width: 110%;
      height: 110%;
      background-size: 82%;
    }
  
    .home::before {
      background-size: 23%;
    }
  
    .home-content h1 {
      font-size: 45px;
    }
  
    .home-content p {
      font-size: 25px;
      margin: 10px 0;
    }
  
    .btn-box a {
      width: 120px;
      height: 40px;
      font-size: 16px;
    } 
}

@media (min-width: 1259px) and (max-width: 1295px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 29%) 13%;
    padding: 8% 35% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 40%;
    width: 110%;
    height: 110%;
    background-size: 76%;
  }

  .home::before {
    background-size: 23%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}


@media (min-width: 1296px) and (max-width: 1317px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 29%) 13%;
    padding: 8% 35% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 40%;
    width: 110%;
    height: 110%;
    background-size: 76%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1318px) and (max-width: 1334px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 29%) 11%;
    padding: 8% 35% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 40%;
    width: 110%;
    height: 110%;
    background-size: 75%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1334px) and (max-width: 1360px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 29%) 11%;
    padding: 8% 35% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 40%;
    width: 110%;
    height: 110%;
    background-size: 74%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1361px) and (max-width: 1380px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 29%) 11%;
    padding: 8% 35% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 37%;
    width: 110%;
    height: 110%;
    background-size: 73%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1381px) and (max-width: 1400px) {
  .home {
    background-size: 13%;
    background-position: calc(0% + 29%) 11%;
    padding: 8% 35% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 37%;
    width: 110%;
    height: 110%;
    background-size: 73%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1401px) and (max-width: 1420px) {
  .home {
    background-size: 12%;
    background-position: calc(0% + 25%) 11%;
    padding: 8% 43% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 37%;
    width: 110%;
    height: 110%;
    background-size: 73%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  } 
}

@media (min-width: 1421px) and (max-width: 1450px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 26%) 15%;
    padding: 8% 43% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 37%;
    width: 110%;
    height: 110%;
    background-size: 72%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}

@media (min-width: 1451px) and (max-width: 1480px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 26%) 15%;
    padding: 8% 43% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 37%;
    width: 110%;
    height: 110%;
    background-size: 68%;
  }

  .home::before {
    background-size: 22%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}

@media (min-width: 1481px) and (max-width: 1509px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 26%) 15%;
    padding: 8% 43% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 36%;
    width: 110%;
    height: 110%;
    background-size: 67%;
  }

  .home::before {
    background-size: 18.5%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}


@media (min-width: 1510px) and (max-width: 1541px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 26%) 15%;
    padding: 8% 43% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 36%;
    width: 110%;
    height: 110%;
    background-size: 65.5%;
  }

  .home::before {
    background-size: 18%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}

@media (min-width: 1542px) and (max-width: 1580px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 26%) 15%;
    padding: 8% 43% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 36%;
    width: 110%;
    height: 110%;
    background-size: 63.5%;
  }

  .home::before {
    background-size: 18%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}

@media (min-width: 1581px) and (max-width: 1600px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 26%) 15%;
    padding: 8% 43% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 36%;
    width: 110%;
    height: 110%;
    background-size: 62.5%;
  }

  .home::before {
    background-size: 18%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}

@media (min-width: 1601px) and (max-width: 1628px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 23%) 15%;
    padding: 8% 50% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 33%;
    width: 110%;
    height: 110%;
    background-size: 61.5%;
  }

  .home::before {
    background-size: 18%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}

@media (min-width: 1629px) and (max-width: 1699px) {
  .home {
    background-size: 10%;
    background-position: calc(0% + 23%) 15%;
    padding: 8% 50% 0% 0%
  }

  .home::after {
    content: '';
    position: absolute;
    top: -1%;
    left: 34%;
    width: 110%;
    height: 110%;
    background-size: 60.5%;
  }

  .home::before {
    background-size: 18%;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content p {
    font-size: 25px;
    margin: 10px 0;
  }

  .btn-box a {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }  
}
